.hero{
    position: relative;
    overflow: hidden;
    background: rgb(3,3,37);
    background: linear-gradient(180deg, rgba(3,3,37,1) 0%, rgba(26,26,88,1) 63%, rgba(53,53,106,1) 100%);
    // &-circle-1{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 300px;
    //     height: 300px;
    //     border-radius: 50%;
    //     background: #030325;
    //     z-index: 1;
    //     background: rgb(3,3,37);
    //     background: radial-gradient(circle, rgba(3,3,37,1) 0%, rgba(26,26,88,1) 63%, rgba(53,53,106,1) 100%);
    //     box-shadow: 0px 0px 23px 7px rgba(3,3,37,.4);
    // }
    &-txt-3{
        color: $color-3;
        font-size: 28px;
    font-weight: 700 !important;
    position: relative;
    top: -83px;

    }
}

.hero .content-block .bold-txt{
    font-size: 4.625rem;
    position: absolute;
    top: -6.5rem;
    font-weight: 900;
    z-index: 1;
    line-height: 0.7;
    left: 41%;
    height:100px;
    top: -9rem;
    color: #2b2b65;
}

.hero .content-block h1{
    padding-top: 0px;
    font-size: 3.8125rem;
    letter-spacing: 1px;
    position: relative;
    top: -72px;
}

.hero .content-block{
    position: absolute;
    top: 50%;

}

.hero .content-block .big-bold-txt{
    font-size: 22rem;
    position: absolute;
    top: 0;
    line-height: 0;
    left: 0;
    color: #2d2d71;
    font-family: "Roboto",sans-serif;
}

.hero .content-block .section-title{
    padding-left: 41%;
}

.hero .img-block{
    position: absolute;
    right: -9%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}


@media screen and (max-width: 840px){
    .hero .img-block{
        display: none;
    }
}

.hero .sidebar{
    background: #070632;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
@media screen and (max-width: 880px){
    .hero .sidebar {
    display: none !important;
    }
}

.social-media-md{
    background: #040325;
    display: none;
    justify-content: space-between;
    padding: 12px 67px;
}
.social-media-md a{
    color:#fff;
}

@media screen and (max-width: 880px){
    .social-media-md{
        display: flex;
    }
}

.hero .sidebar .social-media{
    position: absolute;
    top: 60%;
    width: 100%;
}

.hero .sidebar .social-media a{
    width:100%;
    color:#fff;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.hero .sidebar .social-media a i{
    font-size: 20px;
    color:#ddd;
}
