.hero{
    position: relative;
    overflow: hidden;
}

.hero .content-block .bold-txt{
    font-size: 4.625rem;
    position: absolute;
    top: -6.5rem;
    font-weight: 900;
    z-index: 1;
    line-height: 0.7;
    left: 41%;
    background: -webkit-linear-gradient(#6767e7,#3e3ea5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height:100px;
}

.hero .content-block h1{
    padding-top: 0px;
    font-size: 3.8125rem;
    letter-spacing: 1px;
    position: relative;
    top: -72px;
}

.hero .content-block h2{
font-size: 2.5rem;
    font-weight: 300 !important;
    position: relative;
    top: -83px;
}
.hero .content-block{
    position: absolute;
    top: 50%;

}

.hero .content-block .bold-txt{
    top: -9rem;
}

.hero .content-block .big-bold-txt{
    font-size: 22rem;
    position: absolute;
    top: 0;
    line-height: 0;
    opacity: 0.4;
    left: 0;
    color: #677384;
    font-family: "Roboto",sans-serif;
}

.hero .content-block .section-title{
    padding-left: 41%;
}

.hero .img-block{
    position: absolute;
    right: -9%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}


@media screen and (max-width: 840px){
    .hero .img-block{
        display: none;
    }
}

.hero .sidebar{
    background: #070632;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
@media screen and (max-width: 880px){
    .hero .sidebar {
    display: none !important;
    }
}

.social-media-md{
    background: #040325;
    display: none;
    justify-content: space-between;
    padding: 12px 67px;
}
.social-media-md a{
    color:#fff;
}

@media screen and (max-width: 880px){
    .social-media-md{
        display: flex;
    }
}

.hero .sidebar .social-media{
    position: absolute;
    top: 60%;
    width: 100%;
}

.hero .sidebar .social-media a{
    width:100%;
    color:#fff;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.hero .sidebar .social-media a i{
    font-size: 20px;
    color:#ddd;
}
