@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,400,500,700,800,900&display=swap');

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "Poppins",sans-serif;
}
body{
    background: #040325;
    color:#677384;
    font-size: 18px;
    line-height: 1.8;
}

.h-100vh{
    height:100vh;
}

.hero{
    position: relative;
    background: url("../images/2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 140% 37%;
}

.hero .sidebar{
    background: #070632;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.hero .sidebar .social-media{
    position: absolute;
    top: 60%;
    width: 100%;
}

.hero .sidebar .social-media a{
    width:100%;
    color:#fff;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.hero .sidebar .social-media a i{
    font-size: 20px;
    color:#ddd;
}

.hero .overlay{
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.9));
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.py-100{
    padding-top: 150px;
    padding-bottom: 150px;
}
.service-item{
    background: #070632;
    text-align: left;
    padding: 36px 15px 50px 70px;
    position: relative;
}

.service-item h5{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 19px;
}
.service-item p{
    opacity: .7;
}

.service-item .hash{
    font-size: 40px;
    position: absolute;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    top: 23px;
    opacity: .3;
    left: 14px;
    transform: rotate(-91deg);
}

.service-item i{
    font-size: 24px;
    margin-bottom: 10px;
}
.skill{
    position: relative;
}

.skill .content{
    padding-left: 50px;
}

.skill i{
    position: absolute;
    left:0;top:0;
}
.skill-set{
    font-size: 20px;
}

.skill-set .col{
    margin-bottom: 2px;
}

.bg-2{
    background: #04032f;
}

.background {
    position: absolute;
    display: block;
    top:0;
    left:0;
    z-index:0;
}

.section-title{
    position: relative;
}

.section-title .bold-txt{
    font-size: 90px;
    position: absolute;
    top: -104px;
    font-weight: 900;
    z-index: 1;
    line-height: 1.7;
    opacity: .2;
    left: -5px;
    color:#677384;
}

.section-title h1{
    font-weight: 600;
    font-size: 45px;
}

.text-white{
    color:#ddd !important;
}