@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,400,500,700,800,900&display=swap');

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "Poppins",sans-serif;
}
body{
    background: #040325;
    color:#677384;
    font-size: 1.125rem;
    line-height: 1.8;
}

.h-100vh{
    height:100vh;
}

.hero{
    position: relative;
    overflow: hidden;
}

.hero .img-block{
    position: absolute;
    right: -9%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}


@media screen and (max-width: 840px){
    .hero .img-block{
        display: none;
    }
}

@media screen and (max-width: 767px){
    html{
        font-size: 70%;
    }
}

@media screen and (max-width: 460px){
    html{
        font-size: 50%;
    }
}

.hero .sidebar{
    background: #070632;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
@media screen and (max-width: 880px){
    .hero .sidebar {
    display: none !important;
    }
}

.social-media-md{
    background: #040325;
    display: none;
    justify-content: space-between;
    padding: 12px 67px;
}
.social-media-md a{
    color:#fff;
}

@media screen and (max-width: 880px){
    .social-media-md{
        display: flex;
    }
}

.hero .sidebar .social-media{
    position: absolute;
    top: 60%;
    width: 100%;
}

.hero .sidebar .social-media a{
    width:100%;
    color:#fff;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.hero .sidebar .social-media a i{
    font-size: 20px;
    color:#ddd;
}

/*.hero .overlay{*/
/*    background: linear-gradient(rgba(4,3,37,.5),rgba(4,3,37,.5));*/
/*    opacity: .5;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.py-100{
    padding-top: 150px;
    padding-bottom: 150px;
}
.service-item{
    background: #070632;
    text-align: left;
    padding: 36px 15px 50px 70px;
    position: relative;
}

.service-item h5{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1875rem;
}
.service-item p{
    opacity: .7;
}

.service-item .hash{
    font-size: 2.5rem;
    position: absolute;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    top: 23px;
    opacity: .3;
    left: 14px;
    transform: rotate(-91deg);
}

.service-item i{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.skill{
    position: relative;
}

.skill .content{
    padding-left: 50px;
}

.skill i{
    position: absolute;
    left:0;top:0;
}
.skill-set{
    font-size: 1.25rem;
}

.skill-set .col{
    margin-bottom: 2px;
}

.bg-2{
    background: #04032f;
}

.background {
    position: absolute;
    display: block;
    top:0;
    left:0;
    z-index:0;
}

.section-title{
    position: relative;
}

.section-title .bold-txt{
    font-size: 5.625rem;
    position: absolute;
    top: -6.5rem;
    font-weight: 900;
    z-index: 1;
    line-height: 1.7;
    opacity: .2;
    left: -5px;
    color:#677384;
}

@media screen and (max-width: 460px){
    .section-title .bold-txt {
        font-size: 3.125rem;
        position: absolute;
        font-weight: 900;
        z-index: 1;
        line-height: 1.7;
        opacity: .2;
        left: -5px;
        color: #677384;
    }
}
.section-title h1{
    font-weight: 600;
    font-size: 2.8125rem;
}

.text-white{
    color:#ddd !important;
}

.btn-primary{
    background: #0c3866;
    position: relative;
    border: none;
    padding: 13px 41px;
    border-radius: 0px;
}

.portfolio-1{
    height: 620px;
    background: rebeccapurple;
    display: flex;
}

.modal-content{
    padding: 45px;
}